.navbar-logo {
  height: 2rem;
  width: 2rem;
  filter: invert(1) drop-shadow(0 0 6px var(--color-primary-400));
  transition: filter 0.3s ease-in-out;
}

.navbar-logo:hover {
  filter: invert(1) drop-shadow(0 0 10px var(--color-primary-400));
}

.navbar-brand-text {
  position: relative;
  display: inline-block;
  white-space: nowrap;
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--color-primary-100);
  transition: all 0.3s ease-in-out;
}

.navbar-brand-text:hover {
  color: var(--color-primary-400);
  filter: drop-shadow(0 0 6px var(--color-primary-400));
}

.navbar-brand-text::after {
  content: "✨";
  position: absolute;
  top: 0;
  right: -1.25rem;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.navbar-brand-text:hover::after {
  opacity: 1;
  right: -1.75rem;
}
